.table-container {
  max-height: 450px;  /* Set the maximum height for the table container */
  overflow-y: auto;
  overflow-x: auto;
  width: 100%;  /* Enable vertical scrolling when content overflows */
  border: 1px solid #ccc;/* Optional: add border to the container */
}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;  /* This will let the columns resize automatically based on the content */
}

  .file-upload-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
    margin-left: 20px;
  }

  .file-upload-wrapper button {
    margin-left: auto;
    margin-right: 20px;
  }

  .clear-btn {
    margin-left: 10px;
    margin-top: 20px;/* Optional for better separation */
  }

  .upload-btn {
    margin-left: 30px;
    margin-top: 20px;/* Optional for better separation */
  }

  .mat-header-cell, .mat-cell {
    white-space: nowrap;
    background-color:#d6dbdf;
  }

  .mat-paginator {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
  mat-mdc-header-cell {
    overflow:unset;
  }
  mat-cell, mat-header-cell, mat-footer-cell {
    overflow:unset;
  }
