<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
  <h2>HRMS Info</h2>
  <div>
    <!-- Add and Edit buttons -->
    <button mat-fab extended color="primary" (click)="openUploadDialog(uploaddialogTemplate)">Upload</button>
    <!-- <button mat-fab extended color="accent" (click)="editRecord()" style="margin-left: 10px;">Edit</button> -->
  </div>
</div>

<ng-template #uploaddialogTemplate>
  <div>
    <h2 mat-dialog-title style="text-align: center;">Upload HRMS Data</h2>
    <div mat-dialog-content class="CenterDailog">
      <div class="file-upload-wrapper">
        <mat-label>{{ selectedFile?.name || 'Chose file to upload (.csv)' }}</mat-label>
        <button mat-raised-button color="decent" (click)="fileInput.click()">
          Browse File
        </button>
        <input
          #fileInput
          type="file"
          (change)="onFileSelected($event)"
          accept=".csv"
          hidden/>
      </div>
      <button mat-raised-button color="primary" (click)="uploadFile()" class="upload-btn" [disabled]="!selectedFile">
        Upload File
      </button>
      <button mat-raised-button color="primary" class="clear-btn" (click)="cancelDailog()">Cancel</button>
    </div>

  </div>
  </ng-template>

  <div class="table-container">
  <mat-table   #table [dataSource]="dataSource" matSort>
    <!-- Define the columns (same as before) -->
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{ column | titlecase }}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row[column] }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-cell"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <!-- Add paginator below the table -->
  <mat-paginator [length]="dataSource.data.length" [pageSize]="10"></mat-paginator>
</div>
