<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
  <h2>DDO Users - List</h2>

  <div>
    <!-- Add and Edit buttons -->
    <button mat-fab extended color="primary" (click)="openAddDialog(ddoadddialogTemplate)">Add</button>
    <!-- <button mat-fab extended color="accent" (click)="editRecord()" style="margin-left: 10px;">Edit</button> -->
  </div>
</div>
<div class="table-container">
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="editRecord(element,ddoadddialogTemplate)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="editRecord(element,ddoadddialogTemplate)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef > No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef > Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="kgid">
      <mat-header-cell *matHeaderCellDef> KGID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.kgid}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="phno">
      <mat-header-cell *matHeaderCellDef > Ph No </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.phno}} </mat-cell>
    </ng-container>

<!-- Symbol Column -->
<ng-container matColumnDef="location">
  <mat-header-cell *matHeaderCellDef > Location</mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.location}} </mat-cell>
</ng-container>

<!-- Symbol Column -->
<ng-container matColumnDef="station">
  <mat-header-cell *matHeaderCellDef > Station </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.station}} </mat-cell>
</ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>
</div>

<ng-template #ddoadddialogTemplate>
  <h1 mat-dialog-title>DDO User Info - {{action}}</h1>
  <div mat-dialog-content>
    <form [formGroup]="ddouserForm" class="example-form">
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>KGID</mat-label>
        <input matInput formControlName="kgid" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>PhNo</mat-label>
        <input matInput formControlName="phno" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Station</mat-label>
        <input matInput formControlName="station" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Location</mat-label>
        <input matInput formControlName="location" />
      </mat-form-field>
      <div class="input-container">
      <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password"/>
      </mat-form-field>
      <button mat-mini-fab aria-label="Example icon button with a menu icon" (click)="generatePassword()">
        <mat-icon>password</mat-icon>
      </button>
    </div>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-fab extended *ngIf="isnewactione" color="primary" (click)="saveRecord()" [disabled]="!ddouserForm.valid">Save</button>
    <button mat-fab extended *ngIf="!isnewactione" color="primary" (click)="saveRecord()" [disabled]="!ddouserForm.valid">Update</button>
    <button mat-fab extended (click)="cancelDailog()">Cancel</button>
  </div>
</ng-template>

